.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  .title {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 41px;
    color: #023739;
    text-align: center;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }
}
