.search_inp {
  border: none;
  outline: none;
  background: inherit;
  border-bottom: 2px solid #fff;
  color: #fff;
  position: relative;
  padding-left: 25px;
  font-size: 18px;
  &::placeholder {
    color: #fff;
    margin-right: 20px;
  }
}
.search_img {
  position: absolute;
}
